.top-body {
  width: 100%;
  height: auto;

  background-image: url("./images/gradient.png");
  background-repeat: no-repeat;
  background-position: top;
  background-size: 150vw;

  padding: 8rem 4rem 8rem calc(1rem + 5%);
  display: flex;
  flex-direction: column;
}

.top-body-title {
  color: var(--text-color);
  font-size: 4rem;
  font-weight: 600;
}

.about-button {
  margin-bottom: 20%;
}

@media (max-width: 1000px) {
  .top-body {
    background-size: 200%;
  }

  .about-button {
    margin-bottom: 15%;
  }
}

@media (max-width: 550px) {
  .top-body {
    background-size: 250%;
  }
}