:root {
  --bg-color: #000000;
  --text-color: #fff;
  --header-text-color: #fff;
  --header-color: #08062400;
  --primary-text-color: rgb(133, 85, 255);
  --secondary-text-color: rgb(152, 152, 152);
}

* {
  scroll-behavior: smooth;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  list-style: none;
}

/* Body  */

body {
  min-height: 100vh;
  background: var(--bg-color);
  color: var(--text-color);
}

button {
  color: var(--primary-text-color);

  width: 10rem;
  height: 3rem;

  border: 2px solid var(--primary-text-color);
  border-radius: .2rem;
  background-color: transparent;
  font-family: "SF Mono", "Fira Code", "Fira Mono", "Roboto Mono", monospace;
  transition: all .3s ease-in-out;
  padding: 0.25rem 1rem;

}

button:hover {
  color: white;
  background-color: rgba(133, 85, 255, .1);
  background-size: 200% auto;
  background-position: left center;
  box-shadow: .2rem .5rem 1rem .2rem rgba(134, 85, 255, .4);
}

.top-body {
  width: 100%;
  height: auto;

  background-image: url("./images/gradient.png");
  background-repeat: no-repeat;
  background-position: top;
  background-size: 110vw;

  padding: 8rem 4rem 8rem calc(1rem + 5%);
  display: flex;
  flex-direction: column;
}

.top-body-title {
  color: var(--text-color);
  font-size: 4rem;
  font-weight: 600;
}

.about-button {
  margin-bottom: 20%;
}

.primary-color {
  color: var(--primary-text-color);
  font-family: "SF Mono", "Fira Code", "Fira Mono", "Roboto Mono", monospace;
  text-shadow: .025rem .025rem 2rem var(--primary-text-color) !important;
}

.secondary-color {
  color: var(--secondary-text-color);
}

.ti {
  text-indent: 1px;
}

.card-body {
  background-image: linear-gradient(rgb(37, 14, 93), #03060b);
  border-radius: .075em;
}

.card {
  width: 18rem !important;
  border: 0;
  transition: all .75s ease;
  transform-style: preserve-3d;
}

.card-text {
  font-size: .75rem;
}

.vl {
  height: auto;
  border-left: 2px solid var(--primary-text-color);
  margin-right: 0;
  padding: 2vw;
  width: 50%;
}

.photo-display {

  width: 50%;
}

.py-10 {
  padding: 8rem 4rem 1rem;
}

.progress {
  background-color: var(--bg-color);
}

.progress-bar {
  background-color: transparent;
  background-image: linear-gradient(to right, rgb(48, 20, 117), var(--bg-color));
}

.modal-dialog {
  max-width: 50%; 
  margin: 30px auto; 
}

.carousel-item img {
  width: 100%;
  height: auto;
}

.contact-me:hover {
  cursor: pointer;
}



@media (max-width: 1000px) {
  .top-body {
    background-size: 200%;
  }

  .about-button {
    margin-bottom: 15%;
  }

  .card {
    width: 12rem !important;
  }
}

@media (max-width: 550px) {
  .top-body {
    background-size: 250%;
  }
}