:root {
  --bg-color: #000000;
  --text-color: #fff;
  --header-text-color: #fff;
  --header-color: #08062400;
  --primary-text-color: rgb(133, 85, 255);
  --secondary-text-color: rgb(152, 152, 152);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  list-style: none;
}

/* Body  */

body {
  min-height: 100vh;
  background: var(--bg-color);
  color: var(--text-color);
}

button {
  color: var(--primary-text-color);

  width: 10rem;
  height: 3rem;

  border: 2px solid var(--primary-text-color);
  border-radius: .2rem;
  background-color: transparent;
  font-family: "SF Mono", "Fira Code", "Fira Mono", "Roboto Mono", monospace;
  transition: all .3s ease-in-out;
  padding: 0.25rem 1rem;

}

button:hover {
  color: white;
  background-color: rgba(133, 85, 255, .1);
  background-size: 200% auto;
  background-position: left center;
  box-shadow: .2rem .5rem 1rem .2rem rgba(134, 85, 255, .4);
}

.primary-color {
  color: var(--primary-text-color);
  font-family: "SF Mono", "Fira Code", "Fira Mono", "Roboto Mono", monospace;
  text-shadow: .025rem .025rem 2rem var(--primary-text-color) !important;
}

.secondary-color {
  color: var(--secondary-text-color);
}

.ti {
  text-indent: 1px;
}

.card-body {
  background-color: rgb(20, 20, 20);
  border-radius: .075em;
}

.card {
  border: 0;
  transition: all 1s ease;
  transform-style: preserve-3d;
}

.card:hover {
  box-shadow: .2rem .5rem 1rem .2rem rgba(134, 85, 255, .4);
}