/* Header  */

header {
  background-color: var(--header-color);
  box-shadow: 0px 0px 40px -10px rgba(134, 85, 255, 0);
  backdrop-filter: blur(0px);

  transition: all .5s ease-in-out;
  color: var(--header-text-color);

  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 15px 10%;
  width: 100vw;
  position: fixed;

  z-index: 50;
}

.logo {
  display: flex;
  align-items: center;
  text-decoration: none;
}

.me {
  width: 5rem;
  margin-right: 7px;
}

.logo span {
  color: var(--header-text-color);
  font-size: clamp(1.1rem, 1vw, 1.6rem);
  font-weight: 600;

}

header>nav>ul>li>a {
  color: var(--header-text-color);
  font-weight: bold;

}

header>img {
  cursor: pointer;
  width: 250px;
  margin: 0px;
}

nav>ul {
  list-style: none;
  margin: 0;
}

nav>ul li {
  display: inline-block;
  padding: 0px 20px;

}

nav>ul li a {
  transition: all 0.5s ease 0s;
  text-decoration: none;
}

nav>ul>li>span {
  color: rgb(134, 85, 255);
}

nav>ul li a:hover {
  color: rgba(133, 85, 255, 0.649);
}

.nav-selected {
  color: rgb(134, 85, 255);
}

@media (max-width: 1000px) {
  header {
    flex-direction: column;
  }

  nav {
    padding-top: 1rem;
    flex-wrap: nowrap;
  }

  .top-body {
    padding: 11rem 4rem 8rem calc(1rem + 5%);
  }

  nav>ul {
    padding: 0px;
  }
}

@media (max-width: 1300px) {
  nav>ul>li>button {
    display: none;
  }
}

@media (max-width: 700px) {
  nav>ul {
    display: none;
  }
}